.form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form .container {
    background-color: rgb(69, 133, 133);
    height: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    text-align: start;
    margin: 2.5rem 1rem 0rem 1rem;
    font-size: 1.2rem;
    padding: 0 2.5rem;
    max-width: 500px;
}

.form .react-tel-input input {
    width: 100% !important;
    height: 2.3rem !important;
}

.form .verify {
    flex-direction: column;
    text-align: center;
}

.form .verify form {
    margin-top: 1rem;
}

.form .verify input {
    font-size: 2rem;
    text-align: center;
    padding: 0;
    margin: 0;
    width: auto;
}

.form form {
    margin: 2rem 0;
    width: 100%;

}

.form button {
    width: 100%;
}